<%= simple_form_for [@course, @lecture] do |form| %>
  <div class="field">
    <%= form.input :title %>
    <%= form.rich_text_area :description %>
    <%= form.input :video, as: :file %>


    <%= form.simple_fields_for :exercise do |exercise|%>
      <%= exercise.input :name %>
      <%= exercise.rich_text_area :rich_description %>
      <%= exercise.input :submissions, as: :radio_buttons, wrapper: :vertical_collection_inline %>
    <% end %>
    <%= form.submit %>
  </div>
<% end %>
