
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lectures</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Exercises</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="lecture-show-content-tab d-flex flex-column">
        <header>
          <h1 class="text-center"><%= @lecture.title %></h1>
          <hr>
        </header>
        <section>
          <%= @lecture.description %>
          <%= cl_video_tag(@lecture.video.key,
            :controls => true,
            :transformation => [
            :height=>500, :width=>800, :crop=>"pad",
            :quality=>70, :duration=>"10"],
            :fallback_content => "Your browser does not support HTML5 video tags." )
          %>
        </section>
        <section class="w-75 mt-5">
          <h2>Resources</h2>
          <hr>
          <% if @lecture.resources.count == 0 %>
            <p>There are no resources for this lecture.</p>
          <% else %>
            <ul>
              <% @lecture.resources.each do |resource| %>
                <li>
                  <%= link_to resource.filename, rails_blob_path(resource, disposition: "attachment") %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </section>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="lecture-show-content-tab text-center">
      <div>
        <section>
          <h2><%= @lecture.exercise.name %></h2>
        </section>
        <%= @lecture.exercise.rich_description %>
      </div>
      <% if current_user.is_creator %>
        <% if @lecture.exercise.is_assessed %>
          <p class="accepts-submissions-message"><strong>This exercise accepts submissions</strong></p>
        <% else %>
          <p class="doesnt-accept-submissions-message"><strong>This exercise does not accept submissions</strong></p>
        <% end %>
      <% elsif @lecture.exercise.is_assessed %>
        <%= render 'exercises/submission_upload' %>
      <% end %>
    </div>
  </div>
</div>
