<nav class="navbar sticky-top">
  <%= link_to root_path, method: :get, class: "navbar-brand" do %>
    <%= image_tag "logo200x200.png" %>
  <% end  %>
  <ul class="primary-nav">
    <li class="nav-item active" id="courses">
      <%= link_to " Our Courses", "javascript:void(0)", class: "nav-link", id: "courses" %>
    </li>
    <li class="nav-item active">
      <%= link_to "About", "#", class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "FAQs", "#", class: "nav-link" %>
    </li>
  </ul>
  <% if user_signed_in? %>
    <ul class="secondary-nav">
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Courses", courses_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item logout" %>
          </div>
      </li>
    </ul>
    <% else %>
      <ul class="secondary-nav">
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
</nav>
