<nav class="navbar sticky-top">
  <%= link_to root_path, method: :get, class: "navbar-brand" do %>
    <%= image_tag "logo200x200.png" %>
  <% end  %>
  <% if current_page?(root_path) %>
    <ul class="primary-nav">
      <li class="nav-item active">
        <%= link_to "Courses", "javascript:void(0)", class: "nav-link scroll-target" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About", "javascript:void(0)", class: "nav-link scroll-target" %>
      </li>
      <li class="nav-item active">
        <%= link_to "FAQs", "javascript:void(0)", class: "nav-link scroll-target" %>
      </li>
    </ul>
    <% else %>
    <ul class="primary-nav">
      <li class="nav-item-active">
        <%= link_to "Home", root_path, method: :get, class: "nav-link" %>
      </li>
    </ul>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.is_creator? %>
      <ul class="secondary-nav">
        <li class="nav item active">
          <%= link_to "Dashboard", "/admin", class: "nav-link admin-dashboard" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My Courses", courses_path, class: "nav-link my-courses" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link logout" %>
        </li>
        <li class="nav-item active">
          <%= image_tag "https://eu.ui-avatars.com/api/?name=#{current_user.firstname}+#{current_user.lastname}", class: "avatar" %>
        </li>
      <% else %>
        <ul class="secondary-nav">
          <li class="nav-item active">
            <%= link_to "My Courses", courses_path, class: "nav-link my-courses" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link logout" %>
          </li>
          <li class="nav-item active">
            <%= image_tag "https://eu.ui-avatars.com/api/?name=#{current_user.firstname}+#{current_user.lastname}", class: "avatar" %>
          </li>
        </ul>
      <% end %>
    <% else %>
      <ul class="secondary-nav active">
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link login" %>
        </li>
      </ul>
    <% end %>



</nav>

