  <div class="d-flex flex-column w-25 tray">
    <%= form_tag course_lecture_path(@course, @lecture), method: :get do %>
      <div class="d-flex pt-3 px-3 pb-4">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search"
        %>
        <%= submit_tag "Search", class: "btn btn-primary primary-button" %>
      </div>
    <% end %>
    <% if @course.user.id == current_user.id %>
      <div id="lecture-tray-sortable"> <!-- Start sortable part of the tray -->
    <% else %>
      <div id="lecture-tray">
    <% end %>
        <% @lectures.order(position: :asc).each do |curriculum_item| %> <!-- For each lecture -->
            <% if @lecture.id == curriculum_item.id %> <!-- If curriculum_item is selected -->
              <div class="lecture-card rounded active  p-3 mt-3 mr-3 mb-3" data-id="<%= curriculum_item.id %>" id="lecture-card-<%= curriculum_item.id %>" >
            <% else %>
              <div class="lecture-card rounded p-3 mt-3 mr-3 mb-3" data-id="<%= curriculum_item.id %>" id="lecture-card-<%= curriculum_item.id %>" >
            <% end %> <!-- If curriculum_item is selected - End -->
              <%= link_to course_lecture_path(@course, curriculum_item) do %> <!-- Link for card -->
                <% if current_user.is_creator %> <!-- If user is creator -->
                  <span class="drag-icons"></span> <%= curriculum_item.title %>
                  <%= link_to edit_course_lecture_path(@course, curriculum_item), class: "icon" do  %>
                  <div class="the-pen">
                    <i class="fas fa-pen"></i>
                  </div>
                  <% end %> <!-- Link to edit - End -->
                  <div class="icon delete-lecture-icon-fake", data-lecture-id="<%= curriculum_item.id %>">
                    <i class="fas fa-trash the-trash"></i>
                  </div>
                  <%= link_to course_lecture_path(@course, curriculum_item), method: :delete, id:"delete-lecture-#{curriculum_item.id}", class: "delete-lecture-icon-real", remote: true do %>
                  <% end %>
                <% else %>
                  <%= curriculum_item.title %>
                <% end %> <!-- If user is creator - End -->
              <% end %> <!-- Link for card - End-->
              </div>
        <% end %> <!-- For each lecture - End -->
      </div> <!-- End sortable part of the tray -->
      <% if current_user.is_creator %> <!-- If user is creator -->
        <div class="add-lecture-container p-3">
          <%= link_to  new_course_lecture_path(@course), class: "add-lecture-button" do %> <!-- Add lecture button -->
            <i class="fas fa-plus"></i>
          <% end %> <!-- Add lecture button - End -->
            <p>Add Lecture</p>
        </div>
      <% end %> <!-- If user is creator - End -->
  </div>
