<%= render 'shared/banner' %>

<h1 class="text-center pb-4" id="courses-scroll">Our Online Courses</h1>

<div class="card_container">
<%  @courses.each do |course| %>
    <div class="card-product courses">
      <img src="<%= cl_image_path course.image.key %>" alt="Social Media">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-3"><%= course.title.split(":")[0] %></h2>
        <p><%= course.title.split(":")[1] %></p>
       <a href="#" class="btn-blue padding-button">View Course</a>
      </div>
    </div>
<% end %>
</div>


<h1 class="text-center pb-4 pt-5">How We're Different</h1>

  <div class="different" id="about-scroll">
    <div class="card-different">
      <img src="<%= image_path "cloud2.png"  %>" width="100px" alt="symbol" class="img-circle">
      <h2 class="mt-3">Creativity first</h2>
      <p class="text-different">We provide a community for creative students to come together and share their knowledge amongst other creatives. Creativity is at the heart of what we do.</p>
    </div>

    <div class="card-different">
      <img src="<%= image_path "speech.png"  %>" width="100px" alt="symbol" class="img-circle">
      <h2 class="mt-3">Practical teaching</h2>
      <p class="text-different">Learn and practice with an industry expert during our carefully prepared lectures, complete tasks to apply your skills, receive individual feedback on your performance, and directly book one to one meetings with your teacher whenever you want!</p>
    </div>

    <div class="card-different">
      <img src="<%= image_path "heart.png"  %>" width="100px" alt="symbol" class="img-circle">
      <h2 class="mt-3">Our community</h2>
      <p class="text-different">We encourage our students to work together and you will be joining a talented, diverse and supportive community of students across the world.</p>
    </div>

    <div class="card-different">
      <img src="<%= image_path "star4.png"  %>" width="100px" alt="symbol" class="img-circle">
      <h2 class="mt-3">Lifetime access</h2>
      <p class="text-different">We ensure our students have  lifetime access to their dashboard so you can take as long as you need to learn your required skills, and be able to refer back to your tools whenever and wherever you are.</p>
    </div>
  </div>

  <div class="signup pt-5" id="faqs-scroll">

      <div class="card-product">
        <img src="<%= image_path "student.png"  %>" alt="Social Media">
        <div class="px-4">
          <h2 class="mb-4">Get started and sign up here to become a social media expert!</h2>
          <p class="mb-4">Curious about all things social media but unsure where to start?</p>
            <div>
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />

      <button name="button" type="submit" class="btn btn-flat">
        <i></i> Sign up!
      </button>
    </div>
  </form>
</div>
        </div>
      </div>
    </div>




  <h1 class="text-center pb-4 pt-5">Reviews</h1>
          <div class="d-flex justify-content-center different-reviews">
            <% @courses.each do |course|  %>
              <% course.reviews.order(rating: :desc).first(4).each do |review| %>
                <div class="card-review mx-4" style="width: 18rem;">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center">
                     <%= image_tag("https://eu.ui-avatars.com/api/?name=#{review.user.firstname}+#{review.user.lastname}", id: "review-avatar") %>
                    <h5 class="card-title mt-2"><%= review.user.firstname + " " + review.user.lastname %></h5>
                    <p class="text-center"><%= review.course.title.split(":").first %></p>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                    <div class="d-flex">
                      <% review.rating.times do  %>
                        <p><i class="fas fa-star"></i></p>
                      <% end %>
                    </div>
                    <div>
                      <p class="card-text text-center"> "<%= review.content %>"</p>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>


          <div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with LUMS <i class="fas fa-heart"></i>
  </div>
</div>





