<div class="courses-container">
  <% @courses.each do |course| %>
    <div class="courses-card">
      <div class="courses-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path course.image.key %>'); background-position: center; background-size:cover;"></div>
      <div class="courses-title">
        <h2><%= course.title %></h2>
      </div>
      <div class="courses-info-students">
        <i class="fas fa-user-graduate"></i>
        <p><%= course.enrollments.count %></p>
        <p>Students</p>
      </div>
      <div class="courses-info-lectures">
        <i class="fas fa-video"></i>
        <p><%= course.lectures.count %></p>
        <p>Lectures</p>
      </div>
      <div class="courses-info-exercises">
        <i class="fas fa-book-open"></i>
        <p> <% exercise_array = [] %><% course.lectures.each do |lecture| %><% exercise_array << lecture.exercise %><% end %><%= exercise_array.count %></p>
        <p>Exercises</p>
      </div>

      <div class="courses-buttons">
        <%= link_to course_lecture_path(course, course.lectures.first), class: "lums-button primary-button" do %>
          <i class="fas fa-chevron-circle-right"></i>
          <span class="button-text">Continue</span>
        <% end %>
        <% unless current_user.is_creator? && current_user.courses_created.include?(course) %>
          <%= link_to new_course_review_path(course), class: "lums-button positive-button" do %>
            <i class="fas fa-comments"></i>
            <span class="button-text">Review us</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
