<div class="courses-container">
  <% @courses.each do |course| %>
    <div class="course">
      <div class="course-preview" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.image.key %>');">
        <h6>Info</h6>
        <div class="course-dashboard-info">
          <i class="fas fa-user-graduate"><span class="course-info-text"> <%= course.enrollments.count %>— Students</span></i>
          <i class="fas fa-video"><span class="course-info-text"> <%= course.lectures.count %>— Lectures</span></i>
          <i class="fas fa-book-open"><span class="course-info-text"> <% exercise_array = [] %><% course.lectures.each do |lecture| %><% exercise_array << lecture.exercise %><% end %><%= exercise_array.count %>— Exercises</span></i>
        </div>
      </div>
      <div class="course-info">
        <h6>Course</h6>
        <h2><%= course.title %></h2>
        <%= link_to course_lecture_path(course, course.lectures.first), class: "lums-button primary-button" do %>
          <i class="fas fa-chevron-circle-right"></i>
          <span class="button-text">Continue</span>
        <% end %>
        <% unless current_user.is_creator? && current_user.courses_created.include?(course) %>
          <%= link_to new_course_review_path(course), class: "lums-button positive-button" do %>
            <i class="fas fa-comments"></i>
            <span class="button-text">Leave a review</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



<!-- <div class="cards">
  <% @courses.each do |course| %>
    <%= link_to course_lecture_path(course.id, course.lectures.first.id), class:"course-card" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.image.key %>');">
        <div>
        </div>
        <div>
          <h3 class="course-title text-center"><%= course.title %></h3>
        </div>
        <div>
          <p><i class="fas fa-user-friends"> <%= course.enrollments.count %></i></p>
          <%= link_to new_course_review_path(course) do %>
            <i class="far fa-comments p-0 mr-3"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div> -->

