<div class="cards">
  <% @courses.each do |course| %>
    <%= link_to course_lecture_path(course.id, course.lectures.first.id), class:"course-card" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.image.key %>');">
        <div>
        </div>
        <div>
          <h3 class="course-title text-center"><%= course.title %></h3>
        </div>
        <div>
          <p><i class="fas fa-user-friends"> <%= course.enrollments.count %></i></p>
          <%= link_to new_course_review_path(course) do %>
            <i class="far fa-comments p-0 mr-3"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

